<launch>
<!--<param name = "/use_sim_time" value = "true" />不能使用仿真时间否则静态tf无法发布-->
<node pkg="tf" type="static_transform_publisher" name="ENU_broadcaster" args="0 0 0 0 0 0 inertial NED 200" />


<!--<node pkg="imu_integration" type="generator_node" name="imu_integration_generator_node" clear_params="true">-->
        <!-- load default params -->
        <!--<rosparam command="load" file="$(find imu_integration)/config/generator.yaml" />-->

        <!-- custom configuration -->
    <!--</node>-->

    <node pkg="imu_integration" type="estimator_node" name="imu_integration_estimator_node" clear_params="true">
        <!-- load default params -->
        <rosparam command="load" file="$(find imu_integration)/config/generator.yaml" />

        <!-- custom configuration -->
    </node>

     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find imu_integration)/rviz/imu_integration.rviz" required="true" /> 
</launch>